In [13]:
from etl import Etl

# Please Enter the following Credentials Here

In [14]:
aws_access_key_id='XXXX'
aws_secret_access_key='XXXX'
region_name = 'XXXX'
bucket_name = 'XXXX'
s3_folder = 'XXXX'
local_dir ='XXXX'
db_username='XXXX'
db_password='XXXX'
db_conn_string='XXXX'
database='XXXX'
lmt_table_name= 'XXXX'
pmt_table_name = 'XXXX'

### Creating an etl object based on the entered credentials
* Class Etl is an end to end ETL that starts from aws authentication and ends at creating the table in SQL
* It also contains the pre processing steps like duplicate removal, invalid data removal

In [15]:
etl = Etl(aws_access_key_id=aws_access_key_id,
        aws_secret_access_key=aws_secret_access_key,
          region_name = region_name,
          bucket_name = bucket_name,
          s3_folder = s3_folder,
          local_dir =local_dir,
         db_username=db_username,
          db_password=db_password,
          db_conn_string=db_conn_string,
          database=database,
          lmt_table_name= lmt_table_name,
          pmt_table_name = pmt_table_name
         )

### Running the end to end function
* end to end function performs all the operations for etl.

In [16]:
%%time
etl.end_to_end()

Authenticating AWS Credentials
Authenticated AWS Credentials
Downloading files from bucket
Files have been downloaded
Concatenating json files
Concatenation done
(4940000, 9)
Creating a Landing table in MySQL
Table products_lmt created successfully.
Cleaning data
(4370000, 9)
Creating a Serving table in MySQL
Table products_pmt created successfully.
CPU times: user 8min 31s, sys: 18.7 s, total: 8min 50s
Wall time: 23min 35s

# Get product function
* Get product function is used to query the product as a dataframe, it is inside another class called QueryProduct

In [17]:
from etl import QueryProduct

### Creating an QueryProduct object based on the entered credentials

In [18]:
qp = QueryProduct(db_username=db_username,db_password=db_password,db_conn_string=db_conn_string,
                  database=database,table_name = pmt_table_name)

### Running the get product
* As mentioned in the guide, this function needs a upc and store number to query from the table

In [20]:
%%time
qp.get_product('10000001317500','1001')

CPU times: user 6.55 ms, sys: 1.65 ms, total: 8.2 ms
Wall time: 2.26 s

,index,upc,name,category,store_number,price,description,taxable,department,image
0,3510439,10000001317500.00,subbrigade,Bath Tissue,1001.00,26.36,trig tediosity Berenice restem,0,HBC-Vitamins,https://i.picsum.photos/id/20323/400/400.jpg
1,3688439,10000001317500.00,douse,Facial Tissue,1001.00,23.93,postenteral believableness prealveolar autocol...,0,Deli Sub,https://i.picsum.photos/id/361801/400/400.jpg