In [1]:
from etl import Etl

In [2]:
aws_access_key_id='XXXXX'
aws_secret_access_key='XXXX'
region_name = 'XXXX'
bucket_name = 'XXXX'
s3_folder = 'XXXX'
local_dir ='XXXX'
db_username='XXXX'
db_password='XXXX'
db_conn_string='XXXX'
database='XXXX'
lmt_table_name= 'XXXX'
pmt_table_name = 'XXXX'

In [3]:
etl = Etl(aws_access_key_id=aws_access_key_id,
                    aws_secret_access_key=aws_secret_access_key,region_name = region_name,bucket_name = bucket_name,s3_folder = s3_folder,
          local_dir =local_dir,
         db_username=db_username,db_password=db_password,db_conn_string=db_conn_string,database=database,lmt_table_name=lmt_table_name,
          pmt_table_name = pmt_table_name
         )

In [6]:
df = etl.end_to_end()

Downloading files from s3
Authenticating AWS Credentials
Authenticated AWS Credentials
Downloading files from bucket
Files have been downloaded
Downloaded files from s3
Concatenating json files
Concatenation done
Creating a Landing table in MySQL
Table lmt_products2 created successfully.
Cleaning data
Creating a Serving table in MySQL
Table pmt_products2 created successfully.

In [4]:
from etl import QueryProduct

In [5]:
qp = QueryProduct(db_username=db_username,db_password=db_password,db_conn_string=db_conn_string,
                  database=database,table_name = pmt_table_name)

In [6]:
%%time
qp.get_product('10000001317500','1001')

CPU times: user 906 ms, sys: 247 ms, total: 1.15 s
Wall time: 3.14 s

,index,upc,name,category,store_number,price,description,taxable,department,image
0,3510439,1.000000e+13,subbrigade,Bath Tissue,1001.0,26.358854,trig tediosity Berenice restem,0,HBC-Vitamins,https://i.picsum.photos/id/20323/400/400.jpg
1,3688439,1.000000e+13,douse,Facial Tissue,1001.0,23.927672,postenteral believableness prealveolar autocol...,0,Deli Sub,https://i.picsum.photos/id/361801/400/400.jpg